/*
Creator: Seth Murphy
Date created: Today's date
Date last modified: 
*/

/*------ Main Elements ------*/
body {
    background-color: #FBFCF3;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d1f2d;
    max-width: 1200px;
    margin: 0 auto;
}

header, footer {
    background-color: #035E7B;
    color: #fef9ff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}

nav {
    border-top: 3px dashed #035E7B;
    border-bottom: 3px dashed #035E7B;
    margin-top: 4px;
}

article img {
    float: left;
}

article {
    margin-bottom: 16px;
}

/*----- Navigation ------*/
nav a {
    background-color: #035E7B;
    color: #fef9ff;
    padding: 8px;
    border: thin solid #0d1f2d;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
    width: 100px;
    float: left;   
}

nav a:visited {
    color: #e4c3ad; 
}

nav a:hover {
    background-color: #fef9ff;
    color: #035E7B;
}

nav a:active {
    font-weight: bold;
}

/*------ Classes ------*/
.right-content {
    float: left;
}

.clear-float {
    clear: both;
}

